@import 'src/styles/tools/spacing';
@import 'src/styles/tools/color';
@import 'src/styles/settings/variables/typography';

.create-agency-container {
  height: 100%;
  display: flex;
  min-width: 960px;
  gap: 16px;
  flex-direction: column;
  &__header-input {
    gap: 16px;
    width: fit-content;
    label {
      flex: unset;
    }
    input {
      width: 808px !important;
    }
  }
  select {
    width: fit-content;
    label {
      flex: unset;
    }
    input {
      width: 808px !important;
    }
  }
}