fastapi==0.115.12
uvicorn==0.34.2
unstructured[pdf,docx,doc,pptx,md]==0.18.5
pydantic-settings==2.10.1
beautifulsoup4==4.13.4
langdetect==1.0.9
trafilatura==2.0.0
markdownify==0.14.1
openai==1.82.0
pymupdf4llm==0.0.17
PyMuPDF==1.25.5
requests==2.32.3